.card {
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 10px;
  background: #f3f3f3;
}

@mixin detail-text {
  font-size: 11px;
  line-height: 13px;
}
.detailTitle {
  @include detail-text;

  color: #a3a3a3;
}
.detailValue {
  @include detail-text;

  margin-left: 7px;
}

.button {
  $color: #4b51ef;

  align-self: flex-end;
  padding: 0;
  color: $color;
  background-color: transparent;
  &:active {
    background-color: transparent;
    color: lighten($color, 7);
  }
}
