.card {
  display: flex;
  width: 420px;
  border-radius: 8px;
  padding: 10px;
  background: #f3f3f3;
}

.details {
  flex-grow: 1;
}

@mixin detail-text {
  font-size: 11px;
  line-height: 13px;
}
.detailTitle {
  @include detail-text;

  color: #a3a3a3;
}
.detailValue {
  @include detail-text;

  margin-left: 7px;
}

.button {
  align-self: flex-end;
  padding: 0;
  color: #4b51ef;
  background-color: transparent;
}
