:global {
  @import url("https://fonts.googleapis.com/css?family=Roboto");
  * {
    font-family: "Roboto", "Arial", sans-serif;
    box-sizing: border-box;
  }

  html,
  body,
  #root {
    min-height: 100%;
  }

  body {
    margin: 0px;
    padding: 0px;
  }
}
