.content {
  padding-top: 19px;
  padding-bottom: 25px;
  padding-left: 34px;
}

.card {
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 10px;
  }
}

.footer {
  @include small-text;

  text-align: right;
}
