.content {
  padding: 19px 34px 25px;
}

.list {
  max-width: 420px;
}

@mixin card-margin {
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 10px;
  }
}

.card {
  @include card-margin;
}

.footer {
  @include small-text;

  text-align: right;
}

.skeleton {
  &CardContainer {
    display: block;
    @include card-margin;
  }
}
