.content {
  padding: 19px 34px 25px;
}

.list {
  max-width: 420px;
}

.card {
  margin-bottom: 24px;

  &:last-of-type {
    margin-bottom: 10px;
  }
}

.footer {
  @include small-text;

  text-align: right;
}
