.main {
  display: flex;
  min-height: 100vh;
}

.aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 150px;
  padding: 35px 21px;
  background: #bdbdbd;

  h2 {
    @include small-text;

    font-weight: 400;
    margin-top: 0;
  }

  * {
    margin-bottom: 10px;
  }
}
